src/main/mule/implementation/get-customer-status-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get-customer-status-implementationFlow" doc:id="28d7b903-2e44-4f2c-8d1f-7a4095791877" >
		<ee:transform doc:name="Transform Message Request SFDC" doc:id="68af8de5-f8df-4abf-9840-cc7f040db491" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var whereClauseVar = if(vars.requestData.requestQueryParam.customerId != null or vars.requestData.requestQueryParam.lastModifiedDateTime != null)(true)else(false)
var customerIdVar = if(vars.requestData.requestQueryParam.customerId != null)(true)else(false)
var statusVar = if(vars.requestData.requestQueryParam.status != null)(true)else(false)
var lastModifiedDateTimeVar = if(vars.requestData.requestQueryParam.lastModifiedDateTime != null)(true)else(false)
---
("Select customerId, customerName, email, phone, address, dob, gender, registrationDateTime, lastModifiedDateTime from customer" ++ (if(whereClauseVar)(" where")else("")) ++ 
(if(customerIdVar)(" and customerId = '" ++ vars.requestData.requestQueryParam.customerId ++ "'") else("")) ++
(if(lastModifiedDateTimeVar)(" and lastModifiedDateTime > '" ++ vars.requestData.requestQueryParam.lastModifiedDateTime ++ "'") else(""))) replace  ("where and") with ("where")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger before SFDC call" doc:id="78730ee9-1e6a-413b-a38e-58f0e29a0af4" message='#[%dw 2.0&#10;output application/json indent = false  &#10;---  &#10;{  	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.requestData.requestHeader.transactionid, 	&#10;    AppName: app.name, 	&#10;    BusinessProcessName:  "Customer Registration", 	&#10;    Category:  "Customer", 	&#10;    OriginatingApplication:  "PAPI", 	&#10;    DesinationApplication:  "SFDC", 	&#10;    CustomerId: "NA", 	&#10;    txnState:  "SFDC Request" &#10;}]'/>
		<db:select doc:name="Select Customer Data" doc:id="b569f916-87dd-477d-9439-d29cfbab1501" config-ref="Database_Config">
			<db:sql ><![CDATA[#[payload]]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger after SFDC call" doc:id="57203d0f-352c-4739-8a5a-5a9b17936b7a" message='#[%dw 2.0&#10;output application/json indent = false  &#10;---  &#10;{  	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.requestData.requestHeader.transactionid, 	&#10;    AppName: app.name, 	&#10;    BusinessProcessName:  "Customer Registration", 	&#10;    Category:  "Customer", 	&#10;    OriginatingApplication:  "PAPI", 	&#10;    DesinationApplication:  "SFDC", 	&#10;    CustomerId: "NA", 	&#10;    txnState:  "SFDC Response" &#10;}]'/>
		<ee:transform doc:name="Transform Message Get Cusomer Response" doc:id="d0c8d694-d4b1-4595-a0ed-884b89c1f069" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map((item,index)->{
	customerId : item.customerId,
	customerName: item.customerName,
	email: item.email,
	phone: item.phone,
	address: item.address,
	dob: item.dob,
	gender: item.gender,
	registrationDateTime: item.registrationDateTime,
	lastModifiedDateTime: item.lastModifiedDateTime
	
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cfc63861-1b5e-443a-abcb-003019daf1f7" type="DB:BAD_SQL_SYNTAX, DB:CONNECTIVITY, DB:QUERY_EXECUTION">
				<logger level="INFO" doc:name="Logger Error" doc:id="5cdbfd36-eb0d-4988-9633-c14020646a30" message='#[%dw 2.0&#10;output application/json indent = false  &#10;---  &#10;{  	&#10;    TimeStamp: now(), 	&#10;    transactionId: vars.requestData.requestHeader.transactionid, 	&#10;    AppName: app.name, 	&#10;    BusinessProcessName:  "Customer Registration", 	&#10;    Category:  "Customer", 	&#10;    OriginatingApplication:  "PAPI", 	&#10;    DesinationApplication:  "SFDC", 	&#10;    CustomerId: "NA", 	&#10;    txnState:  "ERROR" &#10;}]'/>
				<ee:transform doc:name="Transform Message Error" doc:id="d0ca2890-d0c8-4c95-80ee-21392b06572b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msg": "failed operation from SFDC",
	"code": 500,
	"eventId": vars.requestData.requestHeader.transactionid,
	"error": {
		"type": error.errorType.identifier,
		"title": error.description,
		"details": error.detailedDescription
	}
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
