src/main/mule/customer-sapi-raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
   <flow name="customer-sapi-raml-main">
        <http:listener config-ref="customer-sapi-raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-sapi-raml-config" />
        <error-handler ref="global-errorError-handler-apikit">
            
        </error-handler>
    </flow>
    <flow name="customer-sapi-raml-console">
        <http:listener config-ref="customer-sapi-raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-sapi-raml-config" />
		<error-handler ref="global-errorError-handler-apikit" />
    </flow>
    <flow name="post:\customers:application\json:customer-sapi-raml-config">
        <flow-ref doc:name="Flow Reference Inisialize Request Data" doc:id="339315f8-76d5-4202-b675-b4c23c9d0901" name="initialize-request-data-subFlow"/>
		<flow-ref doc:name="Flow Reference post-customer-implementationFlow" doc:id="6d305db7-0c74-46ba-8012-2399e21f6592" name="post-customer-implementationFlow"/>
		<error-handler ref="global-errorError-handler-app" />
    </flow>
    <flow name="get:\customers:customer-sapi-raml-config">
        <flow-ref doc:name="Flow Reference Inisialize Request Data" doc:id="788fcf7a-acdb-472d-862b-e84c9d41d597" name="initialize-request-data-subFlow"/>
		<flow-ref doc:name="Flow Reference get-customer-implementationFlow" doc:id="a51357a0-1ce5-40ec-803f-30243ce0a0c9" name="get-customer-implementationFlow"/>
		<error-handler ref="global-errorError-handler-app" />
    </flow>
        <flow name="patch:\customers:application\json:customer-sapi-raml-config">
        <flow-ref doc:name="Flow Reference Inisialize Request Data" doc:id="412be697-84ef-46f5-a4b6-1d275ac3fd4a" name="initialize-request-data-subFlow"/>
		<flow-ref doc:name="Flow Reference patch-customer-implementationFlow" doc:id="ed5e6086-314b-4553-ae33-8d21fa1fac8e" name="patch-customer-implementationFlow"/>
		<error-handler ref="global-errorError-handler-app" />
    </flow>
</mule>
