main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="api-main" doc:id="f983cee8-ec79-47a8-aace-b990c3bbde7c">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="global-errorError_Handler">
           
        </error-handler>
    </flow>
    <flow name="api-console" doc:id="714bf1da-4ed1-4948-a56c-3a915f7b6c7c">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="global-errorError_Handler" />
    </flow>
    <flow name="patch:\customers:application\json:api-config" doc:id="cdf3d14e-f1eb-4b1f-a832-01caf051c98f">
		<logger level="INFO" doc:name="Start" doc:id="ac2db2ae-480f-4a67-8c60-f7b59d90cee7" message='Start FLOW #[flow.name] "Calling patch-customers-implementation-sub-flow" -- #[now()]'/>
		<flow-ref doc:name="patch-customers-implementation-sub-flow" doc:id="a06967c4-d960-4c3f-86e0-1820bd507955" name="patch-customers-implementation-sub-flow"/>
		<logger level="INFO" doc:name="End" doc:id="1543d155-73ce-4470-aa37-ba5676a06bd1" message='END FLOW #[flow.name] "patch-customers-implementation-sub-flow" -- #[now()]'/>
    </flow>
	<flow name="get:\customers:api-config" doc:id="f662ff61-cd2d-4707-bc93-7dedc7e6ad4b">
		<logger level="INFO" doc:name="Start" doc:id="812f4ec8-7cd8-48f3-871c-dd831c6ff006" message='Start FLOW #[flow.name] "Calling  get-customers-implementation-sub-flow" -- #[now()]'/>
		<flow-ref doc:name="get-customers-implementation-sub-flow" doc:id="d47b218d-0630-4ab4-b811-1b9283fa040e" name="get-customers-implementation-sub-flow"/>
		<logger level="INFO" doc:name="End" doc:id="0b50781b-a13a-4389-9241-cad88b250970" message='END FLOW #[flow.name] " get-customers-implementation-sub-flow Calling" -- #[now()]'/>
    </flow>
    <flow name="get:\customers\status:api-config" doc:id="36a75385-019f-4bf6-9f4a-ef5b7b39b288">
		<logger level="INFO" doc:name="Start" doc:id="46678bcf-002a-4cef-b67a-6856966ee87f" message='Start FLOW "get:\customers\status:api-config" "Calling get-customers-status-implementation-sub-flow" -- #[now()]'/>
		<flow-ref doc:name="get-customers-status-implementation-sub-flow" doc:id="e14a2a7f-c225-4d66-9e11-86d80f1a3564" name="get-customers-status-implementation-sub-flow"/>
		<logger level="INFO" doc:name="End" doc:id="ec911139-74d8-4669-a189-50abb23a0dc3" message='END FLOW #[flow.name] "get-customers-status-implementation-sub-flow Calling" -- #[now()]'/>
    </flow>
    <flow name="patch:\customers\status:application\json:api-config" doc:id="5ffca891-7401-4332-a069-dce9ca6dcb6d">
		<logger level="INFO" doc:name="Start" doc:id="b4f4a10e-5b75-4f5d-a99c-03222d3578ba" message='Start FLOW #[flow.name] "Calling  patch-customers-status-implementation-sub-flow" -- #[now()]'/>
		<flow-ref doc:name="patch-customers-status-implementation-sub-flow" doc:id="9cb4ceb1-b0e8-44a9-acb7-cc085fbdb51e" name="patch-customers-status-implementation-sub-flow"/>
		<logger level="INFO" doc:name="End" doc:id="d3bdf65d-ec64-4be5-ab6f-32aa1afdf490" message='END FLOW #[flow.name] "patch-customers-status-implementation-sub-flow Calling" -- #[now()]'/>
    </flow>
    
</mule>
